.page {
  background: var(--bg-color-page);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  align-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-right: 1px solid var(--decorated-zone-border-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-left: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-bottom: 1px solid var(--decorated-zone-border-color, #ff0070);
}

.rec-label {
  position: absolute;
  top: 10px;
  right: 38px;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-base);
  line-height: 25px;
  color: #ff0070;
  text-transform: uppercase;
  font-family: var(--font-family-base, sans-serif);
}

.rec-label::after {
  content: "";
  position: absolute;
  block-size: 9px;
  inline-size: 9px;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px var(--color-header-title-shadow, #ff0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1px 13px;
  background: none;
  border: none;
  color: var(--color-button-text, #ff0070);
  font-family: var(--font-family-base, sans-serif);
  font-size: var(--font-size-base);
  line-height: normal;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px var(--header-button-hover-border-color, rgba(255, 0, 112, 0.4))
    solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px currentColor solid;
}

.header__theme-menu-button.header__theme-menu-button_active {
  outline: 1px solid var(--color-button-outline, #ff0070);
  pointer-events: none;
}

.header__title {
  font-family: var(--font-family-base, sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: var(--logo-size);
  line-height: 83%;
  letter-spacing: 0px;
  text-shadow: 4px 4px 0 var(--color-header-title-shadow, #ff0070);
  color: var(--color-header-footer-title, #db00ff);
}

.title-decor {
  font-family: var(--font-family-base, sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size-base);
  line-height: 23.4px;
  color: var(--title-decor-text-color, #000028);
  background-color: var(--title-decor-bg-color, #ff0070);
}

.main {
  margin-top: 40px;
  padding: 0 10px;
}

.main__section {
  display: grid;
  margin-bottom: 50px;
  gap: 20px;
}

.main__section-title {
  color: var(--title-decor-color, #ff0070);
  font-weight: var(--font-weight-bold, 700);
  font-family: var(--font-family-base, sans-serif);
  font-size: var(--font-size-base, 18px);
  line-height: 23.4px;
}

.main__section-content {
  display: grid;
  gap: 20px;
}

.main__text-container--tips {
  display: grid;
  gap: 20px;
}

.tips-list {
  display: grid;
  gap: 20px;
}

.main__section-content--tips .title-decor {
  font-weight: var(--font-weight-normal, 400);
}

.main__section-link {
  text-shadow: 2px 2px 0 var(--color-header-title-shadow, #ff0070);
  text-decoration: none;
}

.main__section-link:hover {
  border-bottom: 1px solid currentColor;
}

.main__section-link:focus-visible {
  outline: none;
  outline: 1px solid currentColor;
}

.section__paragraph {
  font-family: var(--font-family-base, sans-serif);
  font-size: var(--font-size-base, 18px);
  line-height: 23.4px;
  margin-top: 10px;
  color: var(--color-text-base, #f1b2ce);
}

.main__section--images {
  display: grid;
  margin-bottom: 40px;
  gap: 10px;
}

.main__images-list {
  display: grid;
  grid-template-columns: 1fr;
  inline-size: 100%;
  block-size: 100%;
  gap: 10px;
}

.main__image {
  block-size: 100%;
  max-width: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 667px;
  position: relative;
}

.footer__heading {
  font-family: var(--font-family-base, sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--logo-size);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--color-header-title-shadow, #ff0070);
  color: var(--color-header-footer-title, #db00ff);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-right: 1px solid var(--decorated-zone-border-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-bottom: 1px solid var(--decorated-zone-border-color, #ff0070);
}

@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }

  .header__paragraph {
    inline-size: 50%;
    margin-left: auto;
  }

  .header__title {
    margin-left: -20px;
  }

  .main {
    margin-top: 60px;
    padding: 0 20px;
  }

  .main__section {
    margin-bottom: 80px;
  }

  .main__section--intro {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section-content--intro {
    display: grid;
    gap: 20px;
  }

  .main__section--problem .main__section-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main__section--tips {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section--images {
    gap: 20px;
    margin-bottom: 60px;
  }

  .main__images-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__image:nth-child(1) {
    grid-column: 1 / 3;
  }

  .main__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .main__image:nth-child(3) {
    grid-row: 2 / 4;
  }

  .main__image:nth-child(5) {
    grid-column: 2 / 4;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-label {
    top: 20px;
    right: 48px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-items: center;
    align-self: start;
    justify-self: auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section--intro {
    gap: 10px;
  }

  .main__section--problem .main__section-title {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__section--problem .main__section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__section--tips {
    gap: 10px;
  }
}
